<h1>show page </h1>
<ul>
  <li> Car washing</li>
  <li> Car repair</li>
  <li> Washing and repair</li>
  <li> Car services <span>
  <ul>

  <div>
  <%= link_to "Services", service1.html.erb %> 
  </div>